<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dagstaat PDF</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pdf.css">
  </head>

  <body>

      <div class="pdf_container">

        <div class="dagstaat_first_layer">
          <img src="/images/dagstaat_logo.jpg" width="228" height="79"/>
          <span class="dagstaat_id bold pull-right">No. {{data.id}}</span>
        </div>
        
        <div class="dagstaat_second_layer">
          <div class="col-md-3">
            <span>Het Schild 18</span><br />
            <span>5275 EB Den Dungen</span><br />
            <span>Tel  (073) 594 10 04</span><br />
            <span>Fax  (073) 851 44 08</span><br />
            <span>Mob. Tel. 06 - 22 80 26 96</span><br />
            <span>Email administratie@vofderoef.nl</span><br />
          </div>
          <div class="col-md-3">
            <p class="dagstaat_top_input bold">Opdrachtgever:</p>
            <p class="dagstaat_top_input bold">Woonplaats:</p>
            <p class="dagstaat_top_input bold">Dag/Datum:</p>
          </div>
          <div class="col-md-6">
            <p class="dagstaat_top_input">{{data.klant_naam}}</p>
            <p class="dagstaat_top_input">{{data.woonplaats}}</p>
            <p class="dagstaat_top_input">{{data.datum}}</p>
          </div>
        </div>

        <div class="dagstaat_third_layer">

          <table width="100%" border="1">
            <thead>
              <tr>
                <th>Rit</td>
                <th>Opdrachtgever</th>
                <th>Laadplaats</th>
                <th>Aankomst</th>
                <th>Vertrek</th>
                <th>Losplaats</th>
                <th>Aankomst</th>
                <th>Vertrek</th>
                <th>Lading</th>
                <th>Hoeveelheid</th>
              </tr>
            </thead>
            <tbody>

              {{#each data.ritten}}

                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.opdrachtgever}}</td>
                  <td>{{this.laadplaats}}</td>
                  <td>{{this.laadplaats_aankomst}}</td>
                  <td>{{this.laadplaats_vertrek}}</td>
                  <td>{{this.losplaats}}</td>
                  <td>{{this.losplaats_aankomst}}</td>
                  <td>{{this.losplaats_vertrek}}</td>
                  <td>{{this.lading}}</td>
                  <td>{{this.hoeveelheid}}</td>
                </tr>

              {{/each}}

            </tbody>
          </table>
        </div>

        <div class="dagstaat_fourth_layer">

          <div class="col-md-8">
            <span class="dagstaat_remarks">Opmerkingen:</span>
            <span>{{data.opmerking}}</span>
          </div>
          
        </div>

        <div class="dagstaat_fifth_layer">
        
          <div class="col-md-4">
            <p><b>Werkbonnen afgegeven aan:</b> {{data.afgifte}}</p>
            <p><b>Transporteur:</b> {{data.transporteur}}</p>
            <p><b>Kenteken:</b> {{data.kenteken}}</p>
            <p><b>Type auto:</b> {{data.wagentype}}</p>
          </div>
          <div class="col-md-4 fifth_lower">
            <p><b>Aanvangstijd:</b> {{data.dag_begin}}</p>
            <p><b>Eindtijd:</b> {{data.dag_eind}}</p>
            <p><b>Pauze:</b> {{data.pauze}}</p>
            <p><b>Totaal uren:</b> {{data.dag_total}}</p>
          </div>
          <div class="col-md-4 fifth_lower">
            <p><b>Naam Uitvoerder:</b> {{data.naam_uitvoerder}}</p>
            <p><b>Naam Chauffeur:</b> {{data.naam_chauffeur}}</p>
          </div>
        </div>

        <div class="dagstaat_sixth_layer">
          <span>Inschrijfnummer Kamer van Koophandel Oost-Brabant 160.48.725  |  Wij rijden onder A.V.C./CMR condities.</span>
        </div>
        
      </div> 
    

  </body>
</html>
