{{#if dagstaat}}
<form class="form-horizontal" data-toggle="validator" role="form" method="POST" action="/dagstaat/{{dagstaat.id}}">
{{else}}
<form class="form-horizontal" data-toggle="validator" role="form" method="POST" action="/dagstaat/0">
{{/if}}

    <div class="page-header">
        <div class="pull-left">
            {{#if dagstaat.id}}
                <h2>Dagstaat No. {{dagstaat.id}}</h2>
            {{else}}
                <h2>Nieuwe dagstaat</h2>
            {{/if}}
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                {{#if dagstaat.id}}
                    <a type="button" href="/dagstaat/{{dagstaat.id}}/export" class="btn btn-primary"><span class="glyphicon glyphicon-export" aria-hidden="true"></span></a>
                    <a type="button" href="/dagstaat/{{dagstaat.id}}/delete" onclick="return confirm('Weet je zeker dat je dit item wil verwijderen?')" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                {{/if}}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#dagstaat">Dagstaat</a></li>
    <li><a data-toggle="tab" href="#ritten">Ritten</a></li>
</ul>

    <div class="tab-content">
        <div id="dagstaat" class="tab-pane fade in active">
            <div class="form-group">
                <label class="control-label col-sm-2" for="inputKlant">Klant:</label>
                <div class="col-sm-10">
                <select class="form-control selectpicker" name="inputKlant" id="inputKlant" required>
                    
                            {{#each klanten}}
                                {{#ifEq this.id ../dagstaat.klant_id}}
                                    <option value="{{this.id}}" selected="selected">{{this.naam}}</option>
                                {{else}}
                                    <option value="{{this.id}}">{{this.naam}}</option>
                                {{/ifEq}}
                            {{/each}}
                        </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputDatum">Datum:</label>
                <div class="col-sm-10">
                <input class="form-control" type="date" name="inputDatum" value="{{dagstaat.datum}}" id="inputDatum" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputAfgifte">Werkbonnen afgifte:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="inputAfgifte" id="inputAfgifte" placeholder="Afgifte" value="{{dagstaat.afgifte}}"/>
                </div> 
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputTransporteur">Transporteur:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="inputTransporteur" id="inputTransporteur" placeholder="Transporteur" value="{{dagstaat.transporteur}}" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputKenteken">Kenteken:</label>
                <div class="col-sm-10">
                <select class="form-control selectpicker" name="inputKenteken" id="inputKenteken" required>
                     
                            {{#each kentekens}}
                                {{#ifEq this.id ../dagstaat.kenteken_id}}
                                    <option value="{{this.id}}" selected="selected">{{this.kenteken}}</option>
                                {{else}}
                                    <option value="{{this.id}}">{{this.kenteken}}</option>
                                {{/ifEq}}
                            {{/each}}
                        </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputWagen">Wagen:</label>
                <div class="col-sm-10">
                <select class="form-control selectpicker" name="inputWagen" id="inputWagen" required>
                     
                            {{#each wagens}}
                                {{#ifEq this.id ../dagstaat.wagentype_id}}
                                    <option value="{{this.id}}" selected="selected">{{this.type}}</option>
                                {{else}}
                                    <option value="{{this.id}}">{{this.type}}</option>
                                {{/ifEq}}
                            {{/each}}
                        </select>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="inputOpmerking">Opmerkingen:</label>
                <div class="col-sm-10">
                <textarea type="text" class="form-control" name="inputOpmerking" id="inputOpmerking" placeholder="Opmerkingen">{{dagstaat.opmerking}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputPauze">Pauze:</label>
                <div class="col-sm-10">
                <input type="time" class="form-control" name="inputPauze" id="inputPauze" placeholder="Pauze" value="{{dagstaat.pauze}}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputNaamUitvoerder">Naam uitvoerder:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="inputNaamUitvoerder" id="inputNaamUitvoerder" placeholder="Naam uitvoerder" value="{{dagstaat.naam_uitvoerder}}" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="inputNaamChauffeur">Naam chauffeur:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="inputNaamChauffeur" id="inputNaamChauffeur" placeholder="Naam Chauffeur" value="{{dagstaat.naam_chauffeur}}" required/>
                </div>
            </div>




        </div>
        <div id="ritten" class="tab-pane fade">
        
            <input type="hidden" id="inputRitten" name="inputRitten" value="{{dagstaat.ritten.length}}"/>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- JQuery handelt ritten af! -->    

            </div>
            <button type="button" class="btn btn-primary btn-block" onclick="addRit()">Rit toevoegen</button>
    </div>

</form>

<script>

var ritten = [];

$(document).ready(function()
{

    $('.form-horizontal').on('submit', function (e) {
        if (e.isDefaultPrevented()) {
        } else {
            e.preventDefault();

            if(ritten.length == 0)
                alert("Een dagstaat zonder ritten kan niet opgeslagen worden!");
            else
                $(".form-horizontal").off().submit();
        }
    });


    ritten = {{{toJSON ritten}}};
    showRitten();

});

function showRitten()
{


    $(".panel-group").empty();
    $("#inputRitten").attr("value", ritten.length);

    ritten.forEach(function(rit){

        var names = 
        ["inputOpdrachtgever_" + rit.id,
        "inputLaadplaats_" + rit.id,
        "inputLaadplaatsAankomst_" + rit.id,
        "inputLaadplaatsVertrek_" + rit.id,
        "inputLosplaats_" + rit.id,
        "inputLosplaatsAankomst_" + rit.id,
        "inputLosplaatsVertrek_" + rit.id,
        "inputLading_" + rit.id,
        "inputHoeveelheid_" + rit.id
        ];

        var types = 
        ["text",
        "text",
        "time",
        "time",
        "text",
        "time",
        "time",
        "text",
        "number"
        ];

        var placeholders = 
        ["Opdrachtgever",
        "Laadplaats",
        "Laadplaats aankomst",
        "Laadplaats vertrek",
        "Losplaats",
        "Losplaats aankomst",
        "Losplaats vertrek",
        "Lading",
        "Hoeveelheid"
        ];

        var values =
        [rit.opdrachtgever,
        rit.laadplaats,
        rit.laadplaats_aankomst,
        rit.laadplaats_vertrek,
        rit.losplaats,
        rit.losplaats_aankomst,
        rit.losplaats_vertrek,
        rit.lading,
        rit.hoeveelheid
        ];

        var mainDiv = $("<div />").addClass("panel panel-default");
        var heading = $("<div />").addClass("panel-heading").attr("role", "tab").attr("id", "heading_" + rit.id);
        var title = $("<h4/>").addClass("panel-title");
        var headingButton = $("<a />").attr("role", "button").attr("data-toggle", "collapse").attr("data-parent", "#accordion").attr("href", "#collapse_" + rit.id).attr("aria-expanded", "false").attr("aria-controls", "collapse_" + rit.id);
        headingButton.append("Rit " + rit.id);
        title.append(headingButton);
        heading.append(title);
        mainDiv.append(heading);

        var collapsable = $("<div />").attr("id", "collapse_" + rit.id).addClass("panel-collapse collapse").attr("role", "tabpanel").attr("aria-labelledby", "heading_" + rit.id);
        var body = $("<div />").addClass("panel-body");

        for(var i = 0; i < names.length; i++)
        {
            var type = types[i];
            var name = names[i];
            var placeholder = placeholders[i];
            var value = values[i];

            var formGroup = $("<div />").addClass("form-group");
            var label = $("<label />").addClass("control-label col-sm-2").attr("for", name).append(placeholder + ":");
            var column = $("<div />").addClass("col-sm-10");
            var input = $("<input />").attr("type", type).addClass("form-control").attr("name", name).attr("id", name).attr("placeholder", placeholder).attr("value", value).prop("required", true);

            column.append(input);
            formGroup.append(label);
            formGroup.append(column);
            body.append(formGroup);

        }

        var del = $("<button />").attr("type", "button").addClass("btn btn-danger btn-block").append("Verwijder rit");
        del.on("click",function()
        {
            removeRit(rit.id);
        });
        body.append(del);

        collapsable.append(body);
        mainDiv.append(collapsable);

        $(".panel-group").append(mainDiv);

    });

}

function addRit() 
{
    ritten.push({});
    ritten[ritten.length-1].id = ritten.length;

    if(ritten.length > 1)
    {
        ritten[ritten.length-1].opdrachtgever = ritten[ritten.length-2].opdrachtgever;
        ritten[ritten.length-1].laadplaats = ritten[ritten.length-2].laadplaats;
        ritten[ritten.length-1].losplaats = ritten[ritten.length-2].losplaats;
        ritten[ritten.length-1].lading = ritten[ritten.length-2].lading;
    }

    showRitten();
}

function removeRit(toRemove)
{

    var newData = [];
    var id = 1;

    for(var i = 0; i < ritten.length; i++)
    {
        var get = (i+1);
        if(get == toRemove)
            continue;

        var rit = {id: id};
        rit.opdrachtgever = $("#inputOpdrachtgever_" + get).attr("value");
        rit.laadplaats = $("#inputLaadplaats_" + get).attr("value");
        rit.laadplaats_aankomst = $("#inputLaadplaatsAankomst_" + get).attr("value");
        rit.laadplaats_vertrek = $("#inputLaadplaatsVertrek_" + get).attr("value");
        rit.losplaats = $("#inputLosplaats_" + get).attr("value");
        rit.losplaats_aankomst = $("#inputlosplaatsAankomst_" + get).attr("value");
        rit.losplaats_vertrek = $("#inputLosplaatsVertrek_" + get).attr("value");
        rit.lading = $("#inputLading_" + get).attr("value");
        rit.hoeveelheid = $("#inputHoeveelheid_" + get).attr("value");

        newData.push(rit);

        id++;
    }

    ritten = newData;

    showRitten();

}


</script>